body > a {
  text-decoration: none;
}
a:hover, a:focus{
  text-decoration: none;
}
.layout {
  background-color: rgb(250,250,251);
}
.sider{
  background-color: transparent;
}
.siderTop {
  background-color: rgb(241,241,241);
  margin-bottom: 20px;
  position: relative;
  height: 180px;
}
.siderMenu{
  background-color: rgb(241,241,241);
}
.siderMenuItem{
  background-color: rgb(241,241,241);
}
.logo {
  height: 100px;
  width: 100px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 20px);
}
.dropdown {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 140px);
}