.login-form {
  width: 400px;
  padding: 20px 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: #fff;
  border-radius: 5px;
}

.login-form-forgot {
  float: right;
}

.login-bg {
  height: 100%;
  width: 100%;
  position: relative;
  background: -webkit-radial-gradient(#63eca7, #2ec87b);
  background: -o-radial-gradient(#63eca7, #2ec87b);
  background: -moz-radial-gradient(#63eca7, #2ec87b);
  background: radial-gradient(#63eca7, #2ec87b);
}

.login-bg::before {
  content: '';
  width: 276.5px;
  height: 153.5px;
  background-image: url('../../img/login-bg.png');
  background-repeat: no-repeat;
  position: absolute;
  background-position: 0 0;
  background-size: 112.116% 254.072%;
}

.login-bottom-imge {
  position: absolute;
  top: 100%;
  left: 100%;
}

.login-bottom-imge::before {
  content: '';
  width: 312px;
  height: 240px;
  background-image: url('../../img/login-bg.png');
  background-repeat: no-repeat;
  position: absolute;
  background-position: 0 100%;
  background-size: 100% 164.9%;
  top: -240px;
  left: -312px;
}

.login-info {
  position: absolute;
  height: 30px;
  top: 100%;
  margin-top: -30px;
  width: 100%;
  text-align: center;
  line-height: 30px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.4);
}

.login-form-button {
  width: 100%;
  background-color: rgb(32, 203, 106);
  border-color: transparent;
  border-radius: 20px;
}

.login-form-button:hover, .login-form-button:focus {
  background-color: rgb(32, 220, 106);
  border-color: transparent;
}

.login-btn-2 {
  text-align: center;
}

.login-btn-confirm-right {
  width: 47%;
  border-radius: 20px;
  background-color: rgb(32, 203, 106);
  border-color: transparent;
}

.login-btn-confirm-right:hover, .login-btn-confirm-right:focus  {
  background-color: rgb(32, 220, 106);
  border-color: transparent;
}

.login-btn-cancel-left {
  width: 47%;
  border-radius: 20px;
  margin-right: 6%;
}

.login-btn-cancel-left:hover, .login-btn-cancel-left:focus {
  color: rgb(32, 220, 106);
  border-color: rgb(32, 220, 106);
}

.ant-input-lg:hover, .ant-input-lg:focus {
  border-color: rgb(32, 220, 106);
}